@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: inherit;
  transition: 0.3s;
}

.initial {
  animation: fadeDisplay .5s linear forwards;
}

@keyframes fadeDisplay {
  100%{
    opacity: 0;
    display: none;
  }
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  letter-spacing: 0.1px;
}

@keyframes bg {
  0% {
    background-position: -100vw;
  }
  50% {
    background-position: 100vw;
  }
  100% {
    background-position: -100vw;
  }
}

body {
  background-image: url(/assets/background.jpg);
  background-repeat: repeat;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  animation: infinite bg 600s linear;
}

button {
  background: initial;
  border: initial;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh - 70px);
}
